:root {
  --font-sans-serif: Nunito, sans-serif;
  --font-block: Bebas Neue, sans-serif;
  --red: #d40032;
  --yellow: #fec111;
  --white: #ffffff;
  --gray: #2a2a2a;
  --light_gray: #545454;
}

@import 'normalize.css';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* nav sidebar */
.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 10%;
  height: 100vh;
  box-sizing: border-box;
  border: 1px solid #f1f1f1;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

.nav_side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.nav a{
  display: block;
  text-decoration: none;
  color: var(--gray);
  font-size: 2rem;
  font-family: var(--font-block);
}

.nav a:hover {
  color: var(--red);
}

.nav img {
  width: 100%;
  max-width: 150px;
  height: auto;
}

.nav_bg {
  width: 100%;
  height: 3rem;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background-color: var(--yellow);
  background-image: url(../img/logos/bg-small-diamonds.svg);
}

.nav_schells {
  margin-top: auto;
  padding: 1rem 0;
  border-top: 1px solid #f1f1f1;
  text-align: center;
}

.nav_schells img {
  height: 80px;
}

.nav_mobile {
  display: none;
}


@media (max-width: 750px) {
  .nav {
    display: none;
  } 
  .nav_mobile {
    display: flex;
    height: 75px;
    background-color: var(--yellow);
    background-image: url(../img/logos/bg-small-diamonds.svg);
    justify-content: center;
    align-items: center;
  }
}


body {
  margin-left: 10%;
  font-family: var(--font-sans-serif);
}

@media (max-width: 750px) {
  body {
    margin-left: 0%;
  }
}


.body_component {
  padding: 3rem;
}


h1 {
  font-family: var(--font-block);
  color: var(--red);
  font-size: 5rem;
  letter-spacing: .2rem;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-family: var(--font-block);
  color: var(--white);
  font-size: 3.5rem;
  letter-spacing: .2rem;
  font-weight: normal;
  background-color: var(--gray);
  padding: 1rem;
  width: fit-content;
}

h3 {
  margin: 0;
}


p {
  font-family: var(--font-sans-serif);
  color: var(--gray);
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.cta {
  display: inline-block;
  width: 150px;
  height: 60px;
  color: var(--red);
  font-size: 1rem;
  font-family: var(--font-block);
  line-height: 65px;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: url(../components/img/home_page/extra_assets/cta_border.svg) center no-repeat;
  background-size: contain;
}

.cta_filled {
  background-image: url(../components/img/home_page/extra_assets/cta_filled.svg);
  color: var(--white);
}


.cta_social {
  font-family: var(--font-sans-serif);
  font-size: .8rem;
  background-color: var(--yellow);
  background-image: none;
  border-radius: 3px;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--white);
  width: auto;
  padding: .5rem 1rem;
  margin-right: 1rem;
}

/* hero */

.hero_find_form {
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: var(--yellow);
  padding-left: 3rem;
}

.hero img {
  width: 100%;
  display: block;
}

.hero_find img {
  width: 150px;
  display: block;
  position: absolute;
  left: 19%;
  margin-top: 2.5rem;
}

.hero_find p {
  font-family: var(--font-block);
  color: var(--red);
  margin-right: .5rem;
  font-size: 2.5rem;
}

p.hero_find_thirst {
  font-size: 3rem;
}

.hero_bar_form {
  display: flex;
  border: 3px solid var(--red);       
  flex-wrap: nowrap;        
  margin: 2rem 1rem;
  flex-grow: 1;
  max-width: fit-content;
}

.hero_bar_form_input {
  flex-grow: 1; 
  border: none;
  background-color: transparent;
  color: var(--red);
  outline: none;
  font-weight: bold;
  font-family: var(--font-block);
  font-size: 2rem;
  letter-spacing: .05rem;
  padding: 0rem 1.5rem;
  min-width: 400px;
}

.hero_bar_form_button {
  border: none;
  background-color: var(--red);
  padding: 1.5rem 2.5rem;
  font-family: var(--font-block);
  flex-shrink: 0;
  cursor: pointer;
  color: var(--yellow);
  font-size: 2rem;
 }

 .hero_bar_form_input::placeholder {
  color: var(--red);
}

@media (max-width: 750px) { 
  .hero_find img {
    display: none;
  }
  .hero_find_form p {
    display: none;
  }
  .hero_find_form {
    padding: 0;
  }
  .hero_bar_form_input {
    min-width: 0;
    width: 250px;
    font-size: 1rem;
    padding: .5rem;
  }
  .hero_bar_form_button {
    font-size: 1rem;
    padding: 1rem;
  }
  .hero_bar_form {
    margin: 2rem auto;
  }
}


/* main */

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url(../img/background_images/bg-diamonds-gold.png);
}

.main_headline {
  width: 900px;
  line-height: 4.5rem;
  text-align: center;
  margin: 6rem 0 3rem 0;
}

.main_headline_beer {
  margin: 6rem 0 1rem 0;
}

.main_paragraph_beer {
  width: 600px;
  text-align: center;
  margin-bottom: 2rem;
}

/* social */

.social_circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_circle img, svg {
  width: 40%;
  height: 40%;
}

.social_align {
  display: flex;
  gap: .5rem;
}

.cta_social_insta {
  background-color: var(--red);
  display: inline-flex;
  align-items: center;
  gap: .5rem;
}

.cta_social_insta img {
  width: 15px;
}

.social_insta_link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  padding-bottom: 2rem;
}

.social_insta_link img {
  width: 100px;
}

.insta_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.insta_grid img {
  width: 100%;
}

.social_buttons {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

/* images */
.image_over {
  position: relative;
  display: inline-block;
  width: 1200px;
  height: auto;
}

.image_over img {
  display: block;
  width: 1200px;
}

.image_over::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.image_over_text {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 60%;
}

.image_over_text h4 {
  font-family: var(--font-block);
  color: var(--white);
  font-size: 1.8rem;
}

.image_over_text h2 {
  background-color: transparent;
  margin: .5rem 0;
}



/* beer cans */
.beer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.beer_findme {
  width: 35px;
  padding-top: 1.2rem;
}

.beer_findme_text {
  font-size: 1rem;
  letter-spacing: .1rem;
  padding-top: .4rem;
}

.beer_all {
  display: flex;
  align-items: baseline;
  gap: 3rem;
}

.beer_nordeast_url {
  transition: transform 0.3s ease;
}

.beer_nordeast_url:hover {
  transform: translateY(-15px);
}

/* shop */
.shop {
  display: flex;
  align-items: center;
  margin: 8rem 0 3rem 0;
}

.shop img {
  width: 500px;
  margin-left: 3rem;
}

/* footer */

.footer {
  display: flex;
  background: url(../img/footer/bg-footer-watermark.svg) #a4001d right center no-repeat;
}

.footer_right {
  margin: 3rem 0 0 3rem;
}


.footer_lists {
  display: flex;
  color: var(--white);
}

.footer_lists ul {
  list-style-type: none;
}

.footer_lists p{
  color: var(--white);
  font-size: 1rem;
}

.footer_lists h5 {
  font-family: var(--font-block);
  text-transform: capitalize;
  font-size: 1.5rem;
  margin: 0;
}

.footer_lists ul {
  padding: 0 4rem 0 0;
}

.footer_barsocial {
  display: flex;
  align-items: center;
  gap: 2rem;
}

hr {
  flex-grow: 1;
  border: none;
  border-top: 2px dotted rgba(255, 255, 255, 0.5);
  margin: 0;
}

.footer_schells {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer_schells img {
  width: 100px;
  padding: 0;
}

.footer_schells p {
  color: var(--white);
  font-size: .8rem;
}

.social_circle_footer {
  background-color: transparent;
  border: 1px solid var(--white);
}

/* Nordeast Page  */

.nordeast {
  display: flex;
  background-image: url(../img/nordeast/Nordeast_Bkgnd-2000x1200.webp);
  min-height: 1200px;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.nordeast p {
  color: var(--white);
}

.nordeast_arrow img {
  width: 20px;
  margin-right: .5rem;
}

.nordeast_arrow {
  display: flex;
}

.nordeast_arrow p {
  text-transform: uppercase;
  font-size: 1rem;
}

.nordeast_imagetext {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 40%;
}

.nordeast_text {
  max-width: 400px;
}

.nordeast_title {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.nordeast_title_sub {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  padding-bottom: 10px;
  border-bottom: solid 1px var(--white);
}

.nordeast_paragraph {
  line-height: 2rem;
}

.nordeast_find {
  color: var(--white);
  padding: 1.2rem 0 0 1rem;
}

.nordeast_find_align {
  display: flex;
  align-items: center;
}

.nordeast_findme {
  padding: 0;
  margin-right: .5rem;
}

/* component titles */

h6 {
  font-size: 3rem;
  color: var(--white);
  font-family: var(--font-block);
  letter-spacing: .1rem;
  margin: 0 0 0 2rem;
}

.component_title {
  background-color: var(--gray);
  padding: 1rem 0rem;
}

.component {
  border: 1px solid var(--gray);
  margin-bottom: 2rem;
}

.component_name {
  background-color: var(--light_gray);
  color: var(--white);
  padding: .5rem .5rem;
}

.component_code {
  padding-left: .5rem;
}


/* QUESTIONS */
/* CSS classes - is it better to use one class and descriptor or add second class?
IE - .nordeast_arrow_text vs .nordeast_arrow p */