:root {
  --font-sans-serif: Nunito, sans-serif;
  --font-block: Bebas Neue, sans-serif;
  --red: #d40032;
  --yellow: #fec111;
  --white: #ffffff;
  --gray: #2a2a2a;
  --light_gray: #545454;
}

@import 'normalize.css';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* nav sidebar */
.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 11%;
  height: 100vh;
  box-sizing: border-box;
  border: 1px solid #f1f1f1;
  background-color: var(--white);
}

.nav_side {
  text-align: center;
}

.nav a{
  display: block;
  text-decoration: none;
  padding-top: 2rem;
  color: var(--gray);
  font-size: 1.2rem;
}

.nav a:hover {
  color: var(--red);
}

.nav img {
  width: 100%;
  max-width: 150px;
  height: auto;
}

.nav_bg {
  width: 100%;
  height: 3rem;
  background-color: var(--yellow);
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}

body {
  margin-left: 11%;
  font-family: var(--font-sans-serif);
  padding: 3rem;
}


h1 {
  font-family: var(--font-block);
  color: var(--red);
  font-size: 5rem;
  letter-spacing: .2rem;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-family: var(--font-block);
  color: var(--white);
  font-size: 3.5rem;
  letter-spacing: .2rem;
  font-weight: normal;
  background-color: var(--gray);
  padding: 1rem;
  width: fit-content;
}

h3 {
  margin: 0;
}


p {
  font-family: var(--font-sans-serif);
  color: var(--gray);
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.cta {
  display: inline-block;
  width: 150px;
  height: 60px;
  color: var(--red);
  font-size: 1rem;
  font-family: var(--font-block);
  line-height: 65px;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: url(/components/img/home_page/extra_assets/cta_border.svg) center no-repeat;
  background-size: contain;
}

.cta_filled {
  background-image: url(/components/img/home_page/extra_assets/cta_filled.svg);
  color: var(--white);
}

.cta_social {
  font-family: var(--font-sans-serif);
  font-size: .8rem;
  background-color: var(--yellow);
  background-image: none;
  border-radius: 3px;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--white);
  width: auto;
  padding: .5rem 1rem;
}

/* social */

.social_circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_circle img, svg {
  width: 40%;
  height: 40%;
}

.social_align {
  display: flex;
  gap: .5rem;
}

.cta_social_insta {
  background-color: var(--red);
  display: inline-flex;
  align-items: center;
  gap: .5rem;
}

/* component titles */

h9 {
  font-size: 3rem;
  color: var(--white);
  font-family: var(--font-block);
  margin-left: 2rem;
}

.component_title {
  background-color: var(--gray);
  padding: 1rem 0rem;
}

.component {
  border: 1px solid var(--gray);
  margin-bottom: 2rem;
}

.component_name {
  background-color: var(--light_gray);
  color: var(--white);
  padding: .5rem .5rem;
}

.component_code {
  padding-left: .5rem;
}