:root {
    --font-sans-serif: Nunito, sans-serif;
    --font-block: Bebas Neue, sans-serif;
    --red: #d40032;
    --yellow: #fec111;
    --white: #ffffff;
    --gray: #2a2a2a;
}

@import 'normalize.css';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: var(--font-sans-serif);
}

h1 {
  font-family: var(--font-block);
  color: var(--red);
  font-size: 5rem;
  letter-spacing: .2rem;
  font-weight: normal;
}

h2 {
  font-family: var(--font-block);
  color: var(--white);
  font-size: 3.5rem;
  letter-spacing: .2rem;
  font-weight: normal;
  }

.h2_bg {
  background-color: var(--gray);
}

p {
  font-family: var(--font-sans-serif);
  color: var(--gray);
  font-size: 1.2rem;
  line-height: 1.5rem;
}