:root {
    --font-sans-serif: Nunito, sans-serif;
    --font-block: Bebas Neue, sans-serif;
    --red: #d40032;
    --yellow: #fec111;
    --white: #ffffff;
    --gray: #2a2a2a;
}

@import 'normalize.css';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: var(--font-sans-serif);
}

h1 {
  font-family: var(--font-block);
  color: var(--red);
  font-size: 5rem;
  letter-spacing: .2rem;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-family: var(--font-block);
  color: var(--white);
  font-size: 3.5rem;
  letter-spacing: .2rem;
  font-weight: normal;
  }

.h2_bg {
  background-color: var(--gray);
}

p {
  font-family: var(--font-sans-serif);
  color: var(--gray);
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.cta {
  display: inline-block;
  width: 150px;
  height: 60px;
  color: var(--red);
  font-size: 1rem;
  font-family: var(--font-block);
  line-height: 65px;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: url(/components/img/home_page/extra_assets/cta_border.svg) center no-repeat;
  background-size: contain;
}

.cta_filled {
  background-image: url(/components/img/home_page/extra_assets/cta_filled.svg);
  color: var(--white);
}

.cta_social {
  font-family: var(--font-sans-serif);
  font-size: .8rem;
  background-color: var(--yellow);
  background-image: none;
  border-radius: 3px;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--white);
  width: auto;
  padding: .5rem 1rem;
}

.cta_social_insta {
  background-color: var(--red);
  display: inline-flex;
  align-items: center;
  gap: .5rem;
}

h9 {
  font-size: 4rem;
  color: var(--yellow);
  font-weight: 900;
}