<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components - Grainbelt</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    
    <link rel="stylesheet" href="../css/styles.css">
</head>

<nav class="nav">
    <div class="nav_bg"></div>
    <div class="nav_side">
        <img src="../img/logos/logo-grainbelt.svg" alt="grainbelt logo">
        <a href="#typography">Typography</a>
        <a href="#ctas">CTAs</a>
        <a href="#hero">Hero</a>
        <a href="#social">Social</a>
        <a href="#images">Images</a>
        <a href="#beers">Beers</a>
        <a href="#shop">Shop</a>
        <a href="#footer">Footer</a>
        <a href="#nordeast">Nordeast</a>
        <div class="social_align">
            <div class="social_circle">
                <img src="../img/social/facebook.svg" alt="facebook logo">
            </div>
            <div class="social_circle">
                <img src="../img/social/insta.svg" alt="instagram logo">
            </div>
            <div class="social_circle">
                <img src="../img/social/twitter.svg" alt="facebook logo">
            </div>
        </div>
    </div>
    <div class="nav_schells">
        <img src="../img/logos/schells-logo.svg" alt="Schells brewing logo">
    </div>
</nav>


<body>
    <h1>Web design system</h1>
    <p>This is a collection of components based on my study of the design system of <a href="https://www.grainbelt.com/" target="_blank">Grainbelt's</a> website.</p>

    <div class="component_title">
        <h9 id="typography">Typography Defaults</h9>
    </div>

    <article class="component">
        <h3 class="component_name">Headline</h3>
        <img 
            srcset="../components/img/home_page/2_info/info_headline.png 2x"
            src="../components/img/home_page/2_info/info_headline.png" 
            alt="headline">

        <div class="component_code">
            <h1>Brewed in the Heart of America's Grain Belt</h1>
        </div>
    </article>

    <article class="component">
        <h3 class="component_name">Headline V2</h3>
        <img 
            srcset="../components/img/home_page/2_info/info_hero_text_headline.png 2x"
            src="../components/img/home_page/2_info/info_hero_text_headline.png" 
            alt="headline">

            <div class="component_code">
                <h2>A friendly duo brewed side by side in New Ulm, MN</h2>
            </div>
    </article>

    <article class="component">
        <h3 class="component_name">Body Copy</h3>
        <img 
            srcset="../components/img/home_page/3_beers/beers_text_p.png 2x"
            src="../components/img/home_page/3_beers/beers_text_p.png" 
            alt="body copy">

        <div class="component_code">
            <p>Some old friends and some new, each bringing a little something different. We like to think of ourselves as well-rounded.</p>
        </div>
    </article>

    <div class="component_title">
        <h9 id="ctas">CTAs</h9>
    </div>

    <article class="component">
        <h3 class="component_name">Main CTA</h3>
        <img 
            srcset="../components/img/home_page/2_info/info_hero_text_cta.png 2x"
            src="../components/img/home_page/2_info/info_hero_text_cta.png" 
            alt="cta">

        <div class="component_code">
            <a href="#" class="cta cta_filled">Discover the brewery</a>
        </div>
    </article>

    <article class="component">
        <h3 class="component_name">2nd CTA</h3>
        <img 
            srcset="../components/img/home_page/4_shop/shop_left_cta.png 2x"
            src="../components/img/home_page/4_shop/shop_left_cta.png" 
            alt="cta">

        <div class="component_code">
            <a href="#" class="cta">shop now</a>
        </div>
    </article>

    <article class="component">
        <h3 class="component_name">social CTA</h3>
        <img 
            srcset="../components/img/home_page/5_social/social_ctas.png 2x"
            src="../components/img/home_page/5_social/social_ctas.png" 
            alt="cta">

        <div class="component_code">
            <a href="#" class="cta_social">load more posts</a>
            <a href="#" class="cta_social cta_social_insta">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="20" 
                    height="20" 
                    viewBox="0 0 24 24" 
                    fill="none" 
                    stroke="currentColor" 
                    stroke-width="2.5" 
                    stroke-linecap="round" 
                    stroke-linejoin="round">
                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                </svg>
                follow on instagram</a>
        </div>

    </article>

    <div class="component_title">
        <h9 id="hero">Hero</h9>
    </div>

    <article class="component">
        <h3 class="component_name">Hero image</h3>
        <img 
            srcset="../components/img/home_page/1_hero/hero.png 2x"
            src="../components/img/home_page/1_hero/hero.png" 
            alt="hero">

        <div class="hero">
            <img src="../img/hero.jpg" alt="hero image with beers and bird">
            <div class="hero_find">
                <img src="../img/logos/logo-grainbelt-notag.svg" alt="grainbelt logo">
                <div class="hero_find_form">
                    <p class="hero_find_thirst">Thirsty?</p>
                    <p>find grain belt near you</p>
                    <form class="hero_bar_form" action="#" method="get">
                        <input 
                            class="hero_bar_form_input" 
                            type="text" 
                            placeholder="ENTER ZIP CODE OR CITY, STATE">
                
                        <button class="hero_bar_form_button" type="submit">
                            FIND BEER
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </article>



    <div class="component_title">
        <h9 id="social">Social</h9>
    </div>

    <article class="component">
        <h3 class="component_name">Social Icons</h3>
        <img 
            srcset="../components/img/home_page/0_menu/menu_social.png 2x"
            src="../components/img/home_page/0_menu/menu_social.png" 
            alt="cta">

        <div class="social_align">
            <div class="social_circle">
                <img src="../img/social/facebook.svg" alt="facebook logo">
            </div>
            <div class="social_circle">
                <img src="../img/social/insta.svg" alt="instagram logo">
            </div>
            <div class="social_circle">
                <img src="../img/social/twitter.svg" alt="facebook logo">
            </div>
        </div>

        <h3 class="component_name">Social Grid</h3>
        <img 
            srcset="../components/img/home_page/5_social/social.png 2x"
            src="../components/img/home_page/5_social/social.png" 
            alt="cta">

        <div class="social_insta_link">
            <img src="../img/insta/download.webp" alt="grainbelt insta logo">
            <p>grainbeltbeer</p>
        </div>
        <div class="insta_grid">
            <img src="../img/insta/insta-1.png" alt="social insta post">
            <img src="../img/insta/insta-2.png" alt="social insta post">
            <img src="../img/insta/insta-3.png" alt="social insta post">
            <img src="../img/insta/insta-4.png" alt="social insta post">
            <img src="../img/insta/insta-5.png" alt="social insta post">
            <img src="../img/insta/insta-6.png" alt="social insta post">
            <img src="../img/insta/insta-7.png" alt="social insta post">
            <img src="../img/insta/insta-8.png" alt="social insta post">
        </div>

    </article>

    <div class="component_title">
        <h9 id="images">Images</h9>
    </div>

    <article class="component">
        <h3 class="component_name">Background Image</h3>
        <img 
            srcset="../components/img/home_page/2_info/info_hero.png 2x"
            src="../components/img/home_page/2_info/info_hero.png" 
            alt="cta">
        <div class="image_over">
            <img src="../img/background_images/cheers.webp" alt="people cheersing with schells beer">
            <div class="image_over_text">
                <h4>grain belt & schell's</h4>
                <h2>a friendly duo brewed side by side in new ulm, mn</h2>
                <a href="#" class="cta cta_filled">Discover the brewery</a>
            </div>
        </div>

    </article>

    <div class="component_title">
        <h9 id="beers">Beers</h9>
    </div>

    <article class="component">
        <h3 class="component_name">Beer Cans</h3>
        <img 
            srcset="../components/img/home_page/3_beers/beers_carousel.png 2x"
            src="../components/img/home_page/3_beers/beers_carousel.png" 
            alt="cta">

        <div class="beer_all">
            <div class="beer">
                <img src="../img/beers/beer_lager.webp" alt="lager beer can">
                <img src="../img/beers/find_me.svg" alt="location icon" class="beer_findme">
                <h1 class="beer_findme_text">Find me</h1>
            </div>
            <div class="beer">
                <img src="../img/beers/beer_lightlager.webp" alt="light lager beer can">
                <img src="../img/beers/find_me.svg" alt="location icon" class="beer_findme">
                <h1 class="beer_findme_text">Find me</h1>
            </div>
            <div class="beer">
                <img src="../img/beers/beer_nordeast.webp" alt="nordeast beer can">
                <img src="../img/beers/find_me.svg" alt="location icon" class="beer_findme">
                <h1 class="beer_findme_text">Find me</h1>
            </div>
            <div class="beer">
                <img src="../img/beers/beer_elite.webp" alt="elite beer can">
                <img src="../img/beers/find_me.svg" alt="location icon" class="beer_findme">
                <h1 class="beer_findme_text">Find me</h1>
            </div>
            <div class="beer">
                <img src="../img/beers/beer_blueberry.webp" alt="blueberry beer can">
                <img src="../img/beers/find_me.svg" alt="location icon" class="beer_findme">
                <h1 class="beer_findme_text">Find me</h1>
            </div>
        </div>
    </article>

    <div class="component_title">
        <h9 id="shop">Shop</h9>
    </div>

    <article class="component">
        <h3 class="component_name">Shop</h3>
        <img 
            srcset="../components/img/home_page/4_shop/shop.png 2x"
            src="../components/img/home_page/4_shop/shop.png" 
            alt="shop">

        <div class="shop">
            <div>
                <h1>shop exclusive <br>grain belt merch</h1>
                <p>Find yourself some gear to wear when you're drinking your <br>favorite beer. Hat, shirt, sweatshirt, it's all here!</p>
                <a href="#" class="cta">shop now</a>
            </div>
            <img src="../img/shirt.png" alt="grainbelt shirt">
        </div>
    </article>

    <div class="component_title">
        <h9 id="footer">Footer</h9>
    </div>

    <article class="component">
        <h3 class="component_name">Footer</h3>

        <img 
            srcset="../components/img/home_page/6_footer/footer.png 2x"
            src="../components/img/home_page/6_footer/footer.png" 
            alt="shop">

        <div class="footer">
            <img src="../img/footer/bg-footer-background.webp" alt="footer grainbelt logo">
            <div class="footer_right">
                <img src="../img/footer/logo-grainbelt-text.svg" alt="grainbelt logo text">
                <div class="footer_lists">
                    <ul>
                        <h5>connect</h5>
                        <p>1860 Schell Road <br>New Ulm, MN 56073</p>
                        <p>Gift Shop Open Daily 11am-5pm</p>
                        <p>Ph: (800) 770-5020</p>
                        <p>Fax: (507) 359-9119</p>
                    </ul>
                    <ul>
                        <h5>brewery</h5>
                        <p>Our Story</p>
                        <p>Tours</p>
                        <p>Shop Online</p>
                    </ul>
                    <ul>
                        <h5>resources</h5>
                        <p>Careers</p>
                        <p>Contact Us</p>
                        <p>Distributor Login</p>
                    </ul>
                </div>
                <div class="footer_barsocial">
                        <hr>
                        <div class="social_align">
                            <div class="social_circle social_circle_footer">
                                <img src="../img/social/facebook.svg" alt="facebook logo">
                            </div>
                            <div class="social_circle social_circle_footer">
                                <img src="../img/social/insta.svg" alt="instagram logo">
                            </div>
                            <div class="social_circle social_circle_footer">
                                <img src="../img/social/twitter.svg" alt="facebook logo">
                            </div>
                        </div>
                </div>
                <div class="footer_schells">
                    <img src="../img/footer/logo-schells-text.svg" alt="schell's logo text">
                    <p>©2025 August Schell Brewing Co. All Rights Reserved | Privacy Policy</p>
                </div>
            </div>
        </div>


    </article>

        <div class="component_title">
            <h9 id="nordeast">Nordeast</h9>
        </div>

        <article class="component">
            <h3 class="component_name">Nordeast page</h3>

            <img 
                srcset="../components/img/beeers/beers.png 2x"
                src="../components/img/beeers/beers.png" 
                alt="nordeast page">

        <div class="nordeast">
            <div>
                <img src="../img/beers/beer_nordeast.webp" alt="nordeast beer">
            </div>

        </div>
    </article>

    
</body>
</html>