<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components - Grainbelt</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    
    <link rel="stylesheet" href="/css/styles.css">
</head>

<nav class="nav">
    <div class="nav_bg"></div>
    <div class="nav_side">
        <img src="/img/logos/logo-grainbelt.svg" alt="grainbelt logo">
        <a href="#typography">Typography</a>
        <a href="#ctas">CTAs</a>
        <a href="#">Social</a>
        <a href="#">Images</a>
        <a href="#">Beers</a>
    </div>
</nav>


<body>
    <h1>Web design system</h1>
    <p>This is a collection of components based on my study of the design system of <a href="https://www.grainbelt.com/" target="_blank">Grainbelt's</a> website.</p>

    <div class="component_title">
        <h9 id="typography">Typography Defaults</h9>
    </div>

    <article class="component">
        <h3 class="component_name">Headline</h3>
        <img 
            srcset="/components/img/home_page/2_info/info_headline.png 2x"
            src="/components/img/home_page/2_info/info_headline.png" 
            alt="headline">

        <div class="component_code">
            <h1>Brewed in the Heart of America's Grain Belt</h1>
        </div>
    </article>

    <article class="component">
        <h3 class="component_name">Headline V2</h3>
        <img 
            srcset="/components/img/home_page/2_info/info_hero_text_headline.png 2x"
            src="/components/img/home_page/2_info/info_hero_text_headline.png" 
            alt="headline">

            <div class="component_code">
                <h2>A friendly duo brewed side by side in New Ulm, MN</h2>
            </div>
    </article>

    <article class="component">
        <h3 class="component_name">Body Copy</h3>
        <img 
            srcset="/components/img/home_page/3_beers/beers_text_p.png 2x"
            src="/components/img/home_page/3_beers/beers_text_p.png" 
            alt="body copy">

        <div class="component_code">
            <p>Some old friends and some new, each bringing a little something different. We like to think of ourselves as well-rounded.</p>
        </div>
    </article>

    <div class="component_title">
        <h9 id="ctas">CTAs</h9>
    </div>

    <article class="component">
        <h3 class="component_name">Main CTA</h3>
        <img 
            srcset="/components/img/home_page/2_info/info_hero_text_cta.png 2x"
            src="/components/img/home_page/2_info/info_hero_text_cta.png" 
            alt="cta">

        <div class="component_code">
            <a href="#" class="cta cta_filled">Discover the brewery</a>
        </div>
    </article>

    <article class="component">
        <h3 class="component_name">2nd CTA</h3>
        <img 
            srcset="/components/img/home_page/4_shop/shop_left_cta.png 2x"
            src="/components/img/home_page/4_shop/shop_left_cta.png" 
            alt="cta">

        <div class="component_code">
            <a href="#" class="cta">shop now</a>
        </div>
    </article>

    <article class="component">
        <h3 class="component_name">social CTA</h3>
        <img 
            srcset="/components/img/home_page/5_social/social_ctas.png 2x"
            src="/components/img/home_page/5_social/social_ctas.png" 
            alt="cta">

        <div class="component_code">
            <a href="#" class="cta_social">load more posts</a>
            <a href="#" class="cta_social cta_social_insta">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="20" 
                    height="20" 
                    viewBox="0 0 24 24" 
                    fill="none" 
                    stroke="currentColor" 
                    stroke-width="2.5" 
                    stroke-linecap="round" 
                    stroke-linejoin="round">
                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                </svg>
                follow on instagram</a>
        </div>
    </article>

    
</body>
</html>