<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components - Grainbelt</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <p>Componenets go here</p>

    <h2>Typography Defaults</h2>

    <article class="component">
        <h3 class="component_name">Headline</h3>
        <img 
            srcset="/components/img/home_page/2_info/info_headline.png 2x"
            src="/components/img/home_page/2_info/info_headline.png" 
            alt="headline">

        <div class="component_code">
            <h1>Brewed in the Heart of America's Grain Belt</h1>
        </div>
    </article>

    <article class="component">
        <h3 class="component_name">Headline V2</h3>
        <img 
            srcset="/components/img/home_page/2_info/info_hero_text_headline.png 2x"
            src="/components/img/home_page/2_info/info_hero_text_headline.png" 
            alt="headline">

        <div class="h2_bg">
            <div class="component_code">
                <h2>A friendly duo brewed side by side in New Ulm, MN</h2>
            </div>
        </div>
    </article>

    <article class="component">
        <h3 class="component_name">Body Copy</h3>
        <img 
            srcset="/components/img/home_page/3_beers/beers_text_p.png 2x"
            src="/components/img/home_page/3_beers/beers_text_p.png" 
            alt="headline">

        <div class="component_code">
            <p>Some old friends and some new, each bringing a little something different. We like to think of ourselves as well-rounded.</p>
        </div>
    </article>
    
</body>
</html>